* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1d1d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #121212;
}
